
h1, h2, h3 {
    font-family: Arial, sans-serif;
    color: #003366;
}

p {
    font-size: 16px;
    color: #333;
}

body {
    margin: 0;
    background-color: #f4f9ff;
}

header {
    background-color: #0077cc;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.banner {
    text-align: center;
    padding: 40px;
    background-color: #cce6ff;
}

button {
    padding: 10px 20px;
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #005fa3;
    cursor: pointer;
}

.services {
    padding: 30px;
    text-align: center;
}

.services p {
    color: #555;
}

.service-card {
    display: inline-block;
    width: 250px;
    padding: 20px;           
    margin: 15px;              
    border: 2px solid #0077cc; 
    border-radius: 10px;
    box-sizing: border-box;     
    background-color: white;
}


#contact {
    padding: 40px;
    background-color: #e6f2ff;
    text-align: center;
}

input[type="text"] {
    border: 2px solid #0077cc;
    padding: 8px;
    border-radius: 5px;
}

footer {
    text-align: center;
    background-color: #003366;
    color: white;
    padding: 15px;
    margin-top: 30px;
}
